/* Loading fonts in CSS file are OK but you should keep in mind these files will load sequentially.
   It is better that load fonts in html if you should consider the performance. It will load parallel. */
@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #7a67e9, #a619b7);
  height: 100vh;
  display: flex; /* good to use flex! */
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  /*width: 90%;*/
  margin: 0 auto;
}

#bootstrap-override {
  margin-left: 0px;
  margin-right: 0px;
}

.title-container {
  height: 90vh;
  /* image url is implicit. using absolute path "/img/…" or relative path "./img/…"
    Absolute path is better in most of case.
  */
  background: url("./img/shenzhen.jpg") center center;
  background-size: cover;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  color: #000;
}

.title-container__title { /* BEM style! Great! */
  font-size: 40px;
  letter-spacing: 2.5px;
  line-height: 1.3;
  font-family: 'Source Sans Pro';
  color: white;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.form-container {
  background-color: #2c3e50;
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

input[type="text"] { /* selecting by attribute is a good css technique! */
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #b500bf;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important; /* "!important" should be chosen last, you know. */
  font-weight: lighter; /* keep consistence with other css. And 100 or 200 is more better, in my opinion. */
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 5px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #b500bf;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 90%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #b500bf;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  /*border: 0;*/
  border-bottom: solid 1px #b500bf;
  padding-bottom: 35px;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #b500bf;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

#city-display {
  border: 0;
}
